Repository Team-Konari/MeetingRoomReservation, pull requests merged in 2022-01, with the labels that each got.

#6 220108_backend 초기 셋팅
  .gitignore
  .idea/.gitignore
  .idea/MeetingRoomReservation.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  README.md
  backend/.env.dev
  backend/.python-version
  backend/__init__.py
  backend/app/B1_2F/__init__.py
  backend/app/B1_2F/urls.py
  backend/app/Dockerfile
  backend/app/__init__.py
  backend/app/config/__init__.py
  backend/app/config/asgi.py
  backend/app/config/settings/__init__.py
  backend/app/config/settings/base.py
  backend/app/config/wsgi.py
  backend/app/manage.py
  backend/app/requirements.txt
  backend/docker-compose.yml
Labels: backend

#7 [frontend/signup] 회원가입 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/asserts/meetingroom.jpg
  frontend/src/components/SignupForm.jsx
  frontend/src/components/SignupForm.scss
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/pages/Home.jsx
  frontend/src/pages/accounts/Login.jsx
  frontend/src/pages/accounts/Signup.jsx
  frontend/src/pages/accounts/Signup.scss
  frontend/src/pages/index.jsx
  frontend/src/utils/MediaQuery.jsx
  frontend/src/utils/useInput.js
Labels: feature, frontend

#8 [frontend/signup] Netlify redirect
  frontend/public/_redirects
Labels: chore, frontend
